In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [2]:
#import the csv and create a dataframe
off_white_path = "../static/data/off_white_2019.csv"
off_white_sneaker_df = pd.read_csv(off_white_path, header=0)
off_white_sneaker_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region,Gain/Loss
0,9/7/17,Off-White,Nike-Air-Max-90-Off-White,1600,160,9/9/17,8.0,California,1440
1,9/7/17,Off-White,Nike-Air-Max-90-Off-White,1090,160,9/9/17,11.5,New York,930
2,9/7/17,Off-White,Nike-Air-Presto-Off-White,1344,160,9/9/17,10.0,New York,1184
3,9/7/17,Off-White,Nike-Air-Presto-Off-White,1325,160,9/9/17,10.0,Massachusetts,1165
4,9/7/17,Off-White,Nike-Air-VaporMax-Off-White,1800,250,9/9/17,12.0,Kentucky,1550

In [3]:
#check the dataframe size
off_white_sneaker_df.shape

(27794, 9)

In [4]:
#check the columns
off_white_sneaker_df.columns

Index(['Order Date', 'Brand', 'Sneaker Name', 'Sale Price', 'Retail Price',
       'Release Date', 'Shoe Size', 'Buyer Region', 'Gain/Loss'],
      dtype='object')

In [5]:
#format the column names
off_white_sneaker_df = off_white_sneaker_df.rename(columns={
    "Order Date": "Order_Date",
    "Sneaker Name": "Sneaker_Name",
    "Sale Price": "Sale_Price",
    "Retail Price": "Retail_Price",
    "Release Date": "Release_Date",
    "Shoe Size": "Shoe_Size",
    "Buyer Region": "Buyer_Region",
})

In [6]:
off_white_sneaker_df.head()

,Order_Date,Brand,Sneaker_Name,Sale_Price,Retail_Price,Release_Date,Shoe_Size,Buyer_Region,Gain/Loss
0,9/7/17,Off-White,Nike-Air-Max-90-Off-White,1600,160,9/9/17,8.0,California,1440
1,9/7/17,Off-White,Nike-Air-Max-90-Off-White,1090,160,9/9/17,11.5,New York,930
2,9/7/17,Off-White,Nike-Air-Presto-Off-White,1344,160,9/9/17,10.0,New York,1184
3,9/7/17,Off-White,Nike-Air-Presto-Off-White,1325,160,9/9/17,10.0,Massachusetts,1165
4,9/7/17,Off-White,Nike-Air-VaporMax-Off-White,1800,250,9/9/17,12.0,Kentucky,1550