In [6]:
import pandas as pd

In [7]:
#import the csv and input it into the dataframe
sneaker_path = "../static/data/StockX-Data-Contest-2019-3.csv"
sneaker_df = pd.read_csv(sneaker_path)
sneaker_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
0,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,"$1,097",$220,9/24/16,11.0,California
1,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,$685,$220,11/23/16,11.0,California
2,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,$690,$220,11/23/16,11.0,California
3,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,"$1,075",$220,11/23/16,11.5,Kentucky
4,9/1/17,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,$828,$220,2/11/17,11.0,Rhode Island

In [10]:
#check for any null value in the dataframe
sneaker_df.isnull().values.any()

False

In [11]:
#check the dataframe size
sneaker_df.shape

(99956, 8)

In [12]:
#check the dataframe column
sneaker_df.columns

Index(['Order Date', 'Brand', 'Sneaker Name', 'Sale Price', 'Retail Price',
       'Release Date', 'Shoe Size', 'Buyer Region'],
      dtype='object')

In [13]:
#filter only off white sneakers and input them into a new dataframe
off_white_df= sneaker_df[sneaker_df.Brand.str.contains('Off-White',case=False)]
off_white_df.head()

,Order Date,Brand,Sneaker Name,Sale Price,Retail Price,Release Date,Shoe Size,Buyer Region
128,9/7/17,Off-White,Nike-Air-Max-90-Off-White,"$1,600",$160,9/9/17,8.0,California
129,9/7/17,Off-White,Nike-Air-Max-90-Off-White,"$1,090",$160,9/9/17,11.5,New York
130,9/7/17,Off-White,Nike-Air-Presto-Off-White,"$1,344",$160,9/9/17,10.0,New York
131,9/7/17,Off-White,Nike-Air-Presto-Off-White,"$1,325",$160,9/9/17,10.0,Massachusetts
132,9/7/17,Off-White,Nike-Air-VaporMax-Off-White,"$1,800",$250,9/9/17,12.0,Kentucky

In [15]:
#check off white dataframe size
off_white_df.shape

(27794, 8)

In [16]:
#see the basic data summary of the offwhite data frame
off_white_df.describe()

          Shoe Size
count  27794.000000
mean       9.619001
std        2.161367
min        3.500000
25%        8.500000
50%       10.000000
75%       11.000000
max       17.000000

In [17]:
#export as a csv file and save it into a data folder
off_white_df.to_csv(r'../static/data/off_white_2019.csv', index = False)