In [3]:
import pandas as pd

In [4]:
sneaker_path = "../static/data/StockX_Sneaker_2019.xlsx"
sneaker_df = pd.read_excel(sneaker_path)
sneaker_df.head()

,OrderDate,Brand,SneakerName,SalePrice,RetailPrice,ReleaseDate,ShoeSize,BuyerRegion
0,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-Low-V2-Beluga,1097.0,220,2016-09-24,11.0,California
1,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Copper,685.0,220,2016-11-23,11.0,California
2,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Green,690.0,220,2016-11-23,11.0,California
3,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red,1075.0,220,2016-11-23,11.5,Kentucky
4,2017-09-01,Yeezy,Adidas-Yeezy-Boost-350-V2-Core-Black-Red-2017,828.0,220,2017-02-11,11.0,Rhode Island

In [6]:
sneaker_df.shape

(99956, 8)

In [7]:
sneaker_df.columns

Index(['OrderDate', 'Brand', 'SneakerName', 'SalePrice', 'RetailPrice',
       'ReleaseDate', 'ShoeSize', 'BuyerRegion'],
      dtype='object')

In [8]:
off_white_df= sneaker_df[sneaker_df.Brand.str.contains('Off-White',case=False)]
off_white_df.head()

,OrderDate,Brand,SneakerName,SalePrice,RetailPrice,ReleaseDate,ShoeSize,BuyerRegion
128,2017-09-07,Off-White,Nike-Air-Max-90-Off-White,1600.0,160,2017-09-09,8.0,California
129,2017-09-07,Off-White,Nike-Air-Max-90-Off-White,1090.0,160,2017-09-09,11.5,New York
130,2017-09-07,Off-White,Nike-Air-Presto-Off-White,1344.0,160,2017-09-09,10.0,New York
131,2017-09-07,Off-White,Nike-Air-Presto-Off-White,1325.0,160,2017-09-09,10.0,Massachusetts
132,2017-09-07,Off-White,Nike-Air-VaporMax-Off-White,1800.0,250,2017-09-09,12.0,Kentucky

In [10]:
off_white_df.to_csv(r'../static/data/off_white_2019.csv', index = False)